
<div class="login">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="header">
<h2>Sign up</h2>
<button> <%= f.submit "Sign up",class: "btn-header" %> </button>
</div>
   <div class="field">
    <%= f.label :name, class: "label" %><br />
    <%= f.text_field :name,placeholder: "Enter the name", autofocus: true, autocomplete: "Name", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :email, class: "label" %><br />
    <%= f.email_field :email,placeholder: "Enter the email", autofocus: true, autocomplete: "email", class: "input" %>
  </div>


  <div class="field">
    <%= f.label :password, class: "label" %>
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password,placeholder: "Password", autocomplete: "new-password", class: "input" %>
  </div>

  <div class="field last">
    <%= f.label :password_confirmation, class: "label" %><br />
    <%= f.password_field :password_confirmation,placeholder: "Confirm Password", autocomplete: "new-password", class: "input" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>