<div class="header">
<a href="/categories"><span>&#8617;</span></a>
<h3> TRANSACTIONS </h3>
<img src="https://i.postimg.cc/QNgtRV7X/Untitled-design-4.png" class="search-icon">
</div>
<div class="dummy">
<p>Most recent</p>
<p>Most ancient</p>
</div>
<div class="cat-top">
<h3><%= @category.name %></h3>
<h4>$ <%= @category.transfers.sum(:amount)%></h4>
</div>

<% x = 0%>
<% if @transfers.length > 0 %>
  <% @transfers.each do |t| %>

    <div class="cat-wrapper">
      <div class="trans-img ">
        <div class="trans-num">
        <p>&#9734;</p>
        </div>
        <img src=<%= @category.icon %> alt="category image">
      </div>
      <div class="cat-details"> 
        <h5><%= t.name %></h5>
        <p><%= t.created_at.strftime("%d %b %Y   %l:%M %p") %></p>
      </div>
    <div class="cat-amount">
      <p>$<%= t.amount %></p>
    </div>
    </div>
  <% end %>
<% else %>
<p class="txt-cntr">zero transfers for now</p>
<% end %> 

<a href="transfers/new">
<button class="btn-submit bottom">Add Transaction</button>
</a>