<div class="header">
<a href="/"><span>&#8617;</span></a>
<h3><%= @category.name %></h3>
<h3>$ <%= @category.transfers.sum(:amount)%></h3>
</div>

<% x = 0%>
<% if @category.transfers.length > 0 %>
  <% @category.transfers.order('created_at ASC').limit(5).each do |t| %>

   <% x=x+1 %>

    <div class="cat-wrapper">
      <div class="trans-img ">
        <div class="trans-num">
        <p><%=x%></p>
        </div>
        <img src=<%= @category.icon %> alt="category image">
      </div>
      <div class="cat-details"> 
        <h5><%= t.name %></h5>
        <p><%= t.created_at.strftime("%d %b %Y   %l:%M %p") %></p>
      </div>
    <div class="cat-amount">
      <p>$<%= t.amount %></p>
    </div>
    </div>
  <% end %>
<% else %>
<p class="txt-cntr">zero transfers for now</p>
<% end %> 

<a href="transfers/new">
<button class="btn-submit">Add Transaction</button>
</a>