<div class="header">
<a href="./"><span>&#8617;</span></a>
<h3><%= current_user.name%> </h3>
</div>
<h4 class="txt-cntr">New Transaction page</h4>
 <%= form_with model:@transfer, url:category_transfers_path do |f| %>

      <div class="field">
      <%= f.label :name,class:"label" %>
      <%= f.text_field :name, :placeholder=>"Label / Motif", :class=>"input"  %>
      </div>

      <div class="field">
      <%= f.label :amount,class:"label" %>
      <%= f.number_field :amount, step: :any, :placeholder=>"Amount", :class=>"input" %>
      </div>

    <div class="field">  
<%= f.collection_select(:category_ids, @categories, :id, :name, {}, { multiple: true, required: true, size: 7, class: "form-select" }) %>     </div>
    <%= f.submit "Add Transfer", :class=>"btn-submit" %>

  <% end %>